:root {
  --broken-white: #F9F6F1;
  --beige: #ECDDCA;
  --burgundy: #572D2D;
  --refreshing-blue: #5D87B0;
  --inbetween: #585149;
  --brown: #302B2B;
  --max-page-width: 95rem;
  --brownish: #CBAC8D;
}

html {
  box-sizing: border-box;
  background-color: var(--broken-white);
  background-image: url("../../assets/img/paperbackgroundloweropacity.png");
  background-repeat: repeat;
  overflow-x: hidden;
}

body {
  background-color: var(--broken-white);
  max-width: var(--max-page-width);
  margin: 0 auto;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.hero__section {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.plantin__hero {
  grid-row: 1/4;
  grid-column: 1/4;
  width: 100%;
  height: 100%;

}

.stamp {
  grid-row: 2/4;
  grid-column: 2/4;
  animation: float 3s ease-out infinite;

}

.stamps__desk {
  display: none;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.burger {
  grid-row: 1/2;
  grid-column: 3/4;
  justify-self: flex-end;
  align-self: center;
}

.hero__text {

  grid-row: 3/5;
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 6.75rem;
  padding: 0rem 0.8125rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  background: var(--refreshing-blue);
  margin-top: -2rem;
}

.heresey {
  color: var(--broken-white);
  text-align: center;
  font-family: "EB Garamond";
  font-size: 4.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  width: 22.375rem;
  justify-self: center;
  position: absolute;

}

.above__title {

  width: 21.5rem;
  height: 2.0625rem;

  color: var(--beige);
  text-align: right;
  font-family: "EB Garamond";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  position: absolute;
  margin-top: -4rem;


}

.hero__text:before {

  margin-left: -20rem;
  margin-top: -5.5rem;
  z-index: 2;
  content: url("../../assets/img/plantinlogo.svg");
  max-width: 7vw;
}

.plantin__hero__desk {
  display: none;
}

.title__lines {
  display: none;
}

.hero__title__desk {
  display: none;
}

.plantin__logo {
  display: none;
}

.section__transition {
  grid-row: 4/5;
  grid-column: 1/4;
  background-image: url("../../assets/img/paperbackgroundloweropacity.png");
  background-repeat: repeat;
}


/* ---------- intro section ---------- */


.intro__section {
  background-image: url("../../assets/img/paperbackgroundloweropacity.png");
  background-repeat: repeat;

  display: grid;
  grid-template-rows: 5(1fr);
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  /* width: 100vw; */
  padding-bottom: 2rem;
  padding: 0 2rem;
}



.intro__p1,
.intro__p2,
.intro__p3,
.intro__p4 {
  color: var(--brown);
  font-family: "EB Garamond";
  font-size: 1.2250rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.575rem;
  max-width: 22.3125rem;
  z-index: 3;

}

.intro__p1 {
  margin-top: -10vh;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;

}

.intro__p2 {

  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: center;

}

.intro__p3 {
  grid-column: 1/3;
  grid-row: 4/5;
  justify-self: center;
  margin-top: -10vh;
}

.intro__p4 {
  grid-column: 1/3;
  grid-row: 5/6;
  justify-self: center;
}

.antwerpen__bg {
  grid-column: 1/3;
  grid-row: 2/4;
  justify-self: flex-start;
  background-image: url("../../assets/img/antwerpbg.png");
  z-index: 2;
  height: 16.75rem;
  min-width: 18rem;
  margin-left: -2rem;
}

/* -------- burger menu --------- */

.nav a:any-link {
  color: var(--refreshing-blue);
  text-decoration: none;
}

.nav {
  grid-row: 1/2;
  grid-column: 2/4;
  max-width: var(--max-page-width);
  display: grid;
  justify-self: flex-end;
  align-self: flex-start;
  margin-top: 4vh;
  padding: 2rem;
  z-index: 3;
  color: var(--refreshing-blue);
}

.nav--fixed {
  position: absolute;
  width: calc(100% - 2rem);
  top: 0;

  background-color: white;
}

.nav__button {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: end;


  border: none;
  margin-right: 3vw;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  appearance: none;
  color: var(--burgundy);

}

.nav__button svg {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  color: var(--burgundy);
}

.nav__list {
  grid-row: 2;
  grid-column: 1 / span 2;
  margin-right: 2rem;
  align-self: center;
}

.nav__item {
  border-top: solid 1px black;
  padding: .7rem 0;

}

.nav__item:last-of-type {
  border-bottom: solid 1px black;
}

.nav__link {
  display: block;
  text-align: center;
  padding: .5em;
}

.nav__link:hover {
  background-color: var(--primary-color);
}

@media only screen and (min-width: 37.5em) {

  .hero__section {
    background-image: url("../../assets/img/paperbackgroundloweropacity.png");
    background-repeat: repeat;
    min-height: 100vh;
    min-width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .plantin__hero {
    display: none;
  }

  .plantin__hero__desk {
    display: block;
    max-width: 70vw;
    grid-row: 1/3;
    grid-column: 1/3;

  }

  .stamp,
  .above__title,
  .heresey,
  .hero__text,
  .section__transition,
  .antwerpen__bg {
    display: none;
  }

  .title__background {
    background-image: url("../../assets/img/titlebackground.png");

    padding-left: 1.5rem;
    padding-right: 0.5rem;
    margin-right: -0.5rem;


  }

  .hero__title__desk {

    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: flex-end;
    align-self: flex-start;

    display: flex;
    flex-direction: column;

    width: fit-content;

    color: var(--brown);
    text-align: right;
    font-family: "EB Garamond";
    font-size: 7vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.19744rem;
    text-transform: uppercase;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    margin-right: 2rem;
    margin-top: -2rem;
    z-index: 2;
  }

  .hero__title__desk:before {
    content: "Christophe Plantin";
    font-size: 2.5vw;
    text-decoration: underline;
    color: var(--burgundy);
  }


  .stamps__desk {
    display: block;
    grid-row: 1/2;


    grid-column: 3/4;
    justify-self: flex-end;
    align-self: center;
    max-width: 30vw;
    margin-right: 4rem;
    margin-top: 2rem;
  }

  .plantin__logo {
    display: block;
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: center;
    margin-top: -15rem;
    margin-right: 4vw;
    justify-self: flex-end;
    min-width: 17vw;
    rotate: 19deg;
    z-index: 1;
  }

  .nav {
    grid-template-columns: min-content auto;
    align-items: center;
  }

  .nav__title {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }

  .nav__button {
    display: none;
  }

  .nav__list {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    margin-inline-start: auto;
    color: var(--refreshing-blue);
    font-weight: 700;
  }

  .nav__item,
  .nav__item:last-of-type {
    border: none;
font-size: 1.155rem;
  }

  .nav__link {
    padding-inline:1rem;
  }

  .intro__p1,.intro__p2,.intro__p3,.intro__p4{
  
      font-size: 1.4250rem;
      line-height: 1.575rem;
      max-width: 26.3125rem;
      z-index: 3;
  }

    .intro__p1 {
      margin-top: -15rem;
      
    }
    .intro__p2 {
      margin-top: -10rem;
    }

}

@media only screen and (min-width: 48em) {
.hero__title__desk{
  margin-top: 2rem;
}

.plantin__logo{
  margin-top: -5rem;
}

.nav__item,.nav__item:last-of-type{
  font-size: 1.355rem;
}
}

@media only screen and (min-width: 56.25em) {
  .hero__section {

    max-height: 55.5625rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .plantin__hero__desk {
    display: block;
    max-width: 80vw;
  
    grid-row: 1/3;
    grid-column: 1/3;
  }

  .stamps__desk {

    max-width: 30vw;
    margin-right: 4rem;
    margin-top: 3rem;
  }

  .plantin__logo {
    min-width: 9rem;
    margin-top: 4rem;
  }

.hero__title__desk{
    margin-top: 7rem;
}
.nav__item,.nav__item:last-of-type {
  font-size: 1.555rem;
}

.nav__link {
  padding-inline: 1.5rem;
}

}


/* ------- text highlights ---------- */
.burgundy__extrabold {
  font-weight: 700;
  color: var(--burgundy);
}

.burgundy__italic {
  font-style: italic;
  color: var(--burgundy);
  font-weight: 600;
}

.brown__bold {
  font-weight: 600;
  color: var(--brown);
}

.brown__extrabold {
  font-weight: 700;
  color: var(--brown);
}

.bold__italic {
  font-style: italic;
  font-weight: 700;
}

.beige__extrabold {
  color: var(--beige);
  font-weight: 700;
}

.beige__italic {
  color: var(--beige);
  font-style: italic;
  font-weight: 700;
}

.blue__extrabold {
  color: var(--refreshing-blue);
  font-weight: 700;
}

/* -------- inbetween section --------- */


.inbetween__section {
  background-image: url("../../assets/img/paperbackgroundloweropacity.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.detective__logo__bg {
  background-image: url("../../assets/img/rivalmark.png");
  width: 13.625rem;
  height: 16.438rem;
  background-repeat: no-repeat;
  align-self: center;
}

.slide__over {
  background-color: var(--inbetween);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -7rem;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rival__mark__slide__over {
  max-width: 13.625rem;

}

.slide__over__p {
  color: var(--broken-white, #F9F6F1);
  font-family: "EB Garamond";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  justify-self: center;
  max-width: 22rem;
  height: 4.125rem;
  align-self: center;
}



/* ------ accusation section ------ */



.accusation__section {
  background-color: var(--broken-white);
  background-repeat: repeat;
  padding-top: 2rem;
  /* display: grid;
  grid-template-rows: 4(1fr);
  grid-template-columns: 1fr 1fr ; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: stretch;
}

.accusation__h2 {
  color: var(--burgundy, #572D2D);
  font-weight: 800;
  font-size: 1.875rem;
  font-style: italic;
  grid-column: 1/3;
  grid-row: 1/2;

  margin-right: 5rem;
  align-self: center;
  justify-self: center;
}

.accusation__images {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.accusation__subtitle {
  color: var(--brownish, #CBAC8D);

  font-size: 1.125rem;
  margin-left: 5rem;
  font-weight: 800;

  text-transform: lowercase;

  align-self: center;
  justify-self: center;
}

.family__of__love__heart {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: flex-end;
}

.family__of__love__detail {

  width: 40vh;
  height: 20vh;
  align-self: center;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;

}

.accusation__p {
  align-self: center;
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  max-width: 21.8125rem;
  line-height: 130%;
  margin: 2rem 0;
}



.plantin__case {
  grid-column: 1/3;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  background-color: var(--refreshing-blue);
  background-image: url(../../assets/img/plantin__case__bg.png);
  background-position: right;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  align-items: center;
  padding: 1rem 0;
}

.plantin__case__h3 {
  color: var(--beige, #ECDDCA);
  font-family: "EB Garamond";
  font-size: 1.25rem;
  font-weight: 800;
  margin-right: 6.7rem;
}

.plantin__case__p {
  color: var(--broken-white, #F9F6F1);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 20rem;
}

/* ------- evidence section ------- */

.evidence__section {
  background-color: var(--broken-white);
  background-repeat: repeat;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.anonymous__interaction__section {
  background: url("../../assets/img/woodbackgroundsmall.jpg");
  background-repeat: repeat;
  padding-top: 2rem;
  margin-top: -2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.anonymous__more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4(1fr);
  grid-column: 1/3;
  grid-row: 2/3;
  gap: 1rem;
  padding: 2rem 0;
  background-image: url("../../assets/img/woodbackgroundsmallbrown.jpg");
}

.anonymous__numbering {
  grid-column: 1/2;
  grid-row: 1/2;
  color: var(--brownish);
  margin-top: -3rem;
  font-size: 10.89481rem;
  font-weight: 600;
}

.anonymous__h2 {
  grid-row: 1/2;
  grid-column: 1/3;
  color: var(--burgundy, #572D2D);
  font-family: "EB Garamond";
  font-size: 1.5rem;
  justify-self: center;
  font-weight: 700;
}

.book__section {
  grid-row: 1/2;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-items: center;
  max-height: 70vh;
}

.normal__book__1,
.normal__book__2,
.normal__book__3,
.normal__book__4,
.normal__book__5,
.normal__book__6,
.normal__book__7,
.mysterious__book {
  grid-row: 1/3;
  grid-column: 1/3;
  justify-self: center;
}

.normal__book__1 {
  transform: rotate(-31.475deg);
  margin-right: 5rem;
  margin-top: -3rem;
}

.normal__book__2 {
  transform: rotate(-5.148deg);
  margin-top: -3rem;
}

.normal__book__3 {
  transform: rotate(18.332deg);
  margin-right: -8rem;
  margin-top: -2rem;
}

.mysterious__book {
  width: 9.75rem;
  height: 12.9375rem;
  transform: rotate(6.701deg);

}

.normal__book__4 {
  transform: rotate(-42.359deg);
  margin-right: 13rem;
  margin-top: 2rem;
}

.normal__book__5 {
  transform: rotate(28.183deg);
  margin-right: -13rem;
  margin-top: 3rem;
}

.normal__book__6 {
  transform: rotate(-29.318deg);
  margin-top: 4rem;
  margin-right: 4rem;
}

.normal__book__7 {
  transform: rotate(35.162deg);
  margin-left: 3rem;
  margin-top: 5rem;
}


.anonymous__book {
  width: 7.5625rem;
  height: 9.8125rem;
  justify-self: center;
  align-self: center;
}

.anonymous__more__h3 {
  color: var(--broken-white);
  font-size: 1.3125rem;
  font-weight: 800;
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  max-width: 40vw;

}

.anonymous__more__subtitle {
  color: var(--broken-white);

  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 160%;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  margin-top: 5rem;

}

.anonymous__more__p1,
.anonymous__more__p2,
.anonymous__more__p3 {
  color: var(--broken-white);
  font-size: 1.2250rem;
  font-weight: 500;
  line-height: 155%;
  align-self: center;
  justify-self: center;
  max-width: 24.8125rem;
  margin: 0 2rem;
}

.anonymous__more__p1 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.anonymous__more__p2 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.anonymous__more__p3 {
  grid-column: 1/3;
  grid-row: 4/5;
}

/* ----------- known members section ------------ */

.known__members {
  display: grid;
  grid-template-columns: 2(1fr);
  grid-template-rows: 4(1fr);
  gap: 1rem;
  padding: 0 2rem;
  justify-items: center;
}

.known__members__numbering {
  grid-column: 1/2;
  grid-row: 1/2;
  color: var(--refreshing-blue);
  font-size: 10.89481rem;
  font-weight: 600;
  margin-left: -3rem;
}

.known__members__h2 {
  grid-row: 1/2;
  grid-column: 1/3;
  color: var(--burgundy, #572D2D);
  font-family: "EB Garamond";
  font-size: 1.5rem;
  justify-self: center;
  align-self: flex-end;
  font-weight: 700;
  max-width: 50vw;
  margin-bottom: 2rem;
}

#coin-container {
  grid-column: 1/3;
}

.known__members__p1 {
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  grid-row: 3/4;
  grid-column: 1/3;
  line-height: 120%;
  max-width: 24.8125rem
}

.known__members__p2 {
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  grid-row: 4/5;
  grid-column: 1/3;
  line-height: 120%;
  max-width: 24.8125rem
}

/* ----------- robbery section ------------ */


.robbery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3(1fr);
  padding: 0 2rem;
  gap: 1rem;
}

.robbery__numbering {
  grid-column: 1/2;
  grid-row: 1/2;
  color: var(--beige);
  font-size: 10.89481rem;
  font-weight: 600;
  margin-left: -4rem;
}

.robbery__h2 {
  grid-row: 1/2;
  grid-column: 1/3;
  color: var(--burgundy, #572D2D);
  font-family: "EB Garamond";
  font-size: 1.5rem;
  justify-self: center;
  align-self: flex-end;
  font-weight: 700;
  max-width: 60vw;
  margin-bottom: 2rem;
}

.robbery__images {
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 2(1fr);
  grid-template-columns: 2(1fr);
}


.robbery__text,
.robbery__vase,
.robbery__harp,
.robbery__violin,
.robbery__goblet {
  grid-row: 1/3;
  grid-column: 1/3;
  justify-self: center;
}

.robbery__text {
  margin-top: 5rem;
  margin-left: 1rem;
}


.robbery__vase {
  margin-top: 2rem;
  margin-right: 11rem;
}

.robbery__goblet {
  margin-left: 7rem;
}

.robbery__violin {
  margin-top: 6rem;
  margin-left: 6rem;
}

.robbery__harp {
  margin-right: 4rem;
  margin-top: 1rem;
}

.robbery__arrow {
  grid-column: 1/3;
  grid-row: 3/4;
  justify-self: center;
}

.robbery__p {
  display: none;
}

.robbery__box {
  grid-column: 1/3;
  grid-row: 4/5;
  justify-self: center;
  margin-bottom: 2rem;
}

/* --------- motive section  --------- */

.motive__section {
  background: url("../../assets/img/woodbackgroundsmall.jpg");
  background-repeat: repeat;
  padding: 2rem 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motive__h2 {
  color: var(--inbetween);
  font-size: 1.525rem;
  font-weight: 800;
  align-self: center;
}

.motive__p1,
.motive__p2 {
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  line-height: 1.575rem;
  max-width: 22.3125rem;
}

/* ----------- alibi section ------------ */

.alibi__section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
}

.alibi__h2 {
  color: var(--burgundy);
  font-size: 1.525rem;
  font-weight: 800;
  align-self: center;
}

.alibi__p1,
.alibi__p2,
.alibi__p3 {
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  line-height: 130%;
  max-width: 24.8125rem
}

.alibi__latin {
  color: var(--inbetween);
  font-size: 4.08569rem;
  font-weight: 500;
  align-self: center;
  margin-left: 12rem;
}

.alibi__hebrew {
  color: var(--brown);
  font-size: 2.52319rem;
  font-weight: 500;
  align-self: center;
  margin-right: 14rem;
}

.alibi__greek {
  color: var(--burgundy);
  font-size: 3.61906rem;
  font-weight: 500;
  align-self: center;
  margin-left: 14rem;
}

.alibi__aramaic {
  color: var(--brownish);
  font-size: 3.70944rem;
  font-weight: 500;
  align-self: center;
  margin-right: 11rem;
  margin-top: -2rem;
}


.biblia__sacria {
  position: absolute;
  width: 7.87819rem;
  height: 12.125rem;
  margin-top: 12rem;
  align-self: center;
}

.alibi__p2 {
  padding: 1rem 0;
}

.alibi__link {
  color: var(--burgundy);
  font-size: 1.2250rem;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}


/* --------- verdict section --------- */

.verdict__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.verdict__h2 {
  color: var(--brown);
  font-size: 1.525rem;
  font-weight: 800;

}

.verdict__p1,
.verdict__p2,
.verdict__p3 {
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  line-height: 130%;
  max-width: 24.8125rem
}

.verdict__p3 {
  padding-top: 1rem;
}

.innocent__btn {
  font-family: "EB Garamond";
  display: flex;
  width: 6.5625rem;
  padding: 0.125rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.1875rem;
  border: 1px solid var(--brown);
  background: rgba(93, 135, 176, 0.50);
  color: var(--broken-white);
  font-size: 1.125rem;
  font-weight: 800;
}

.guilty__btn {
  font-family: "EB Garamond";
  display: flex;
  width: 6.5625rem;
  padding: 0.125rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.1875rem;
  border: 1px solid var(--brown);
  background: rgba(87, 45, 45, 0.50);
  color: var(--broken-white);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 800;
}

.buttons {
  justify-content: space-between;
  display: flex;
  gap: 2rem;
}




