:root {
  --broken-white: #F9F6F1;
  --beige: #ECDDCA;
  --burgundy: #572D2D;
  --refreshing-blue: #5D87B0;
  --inbetween: #585149;
  --brown: #302B2B;
  --max-page-width: 95rem;
  --brownish: #CBAC8D;
}

html {
  box-sizing: border-box;
  background-color: var(--broken-white);
  background-image: url("../../assets/img/paperbackgroundloweropacity.png");
  background-repeat: repeat;
  overflow-x: hidden;
}

body {
  background-color: var(--broken-white);
  max-width: var(--max-page-width);
  margin: 0 auto;
  overflow-x: hidden;
}

p {
  font-family: "EB Garamond";
}

.hidden {
  display: none;
}

.hero__section {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.plantin__hero {
  grid-row: 1/4;
  grid-column: 1/4;
  width: 100%;
  height: 100%;

}

.stamp {
  grid-row: 2/4;
  grid-column: 2/4;
  animation: float 3s ease-out infinite;

}

.stamps__desk {
  display: none;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.burger {
  grid-row: 1/2;
  grid-column: 3/4;
  justify-self: flex-end;
  align-self: center;
}

.hero__text {

  grid-row: 3/5;
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 6.75rem;
  padding: 0rem 0.8125rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  background: var(--refreshing-blue);
  margin-top: -2rem;
}

.heresey {
  color: var(--broken-white);
  text-align: center;
  font-family: "EB Garamond";
  font-size: 4.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  width: 22.375rem;
  justify-self: center;
  position: absolute;

}

.above__title {

  width: 21.5rem;
  height: 2.0625rem;

  color: var(--beige);
  text-align: right;
  font-family: "EB Garamond";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  position: absolute;
  margin-top: -4rem;


}

.hero__text:before {

  margin-left: -20rem;
  margin-top: -5.5rem;
  z-index: 2;
  content: url("../../assets/img/plantinlogo.svg");
  max-width: 7vw;
}

.plantin__hero__desk {
  display: none;
}

.title__lines {
  display: none;
}

.hero__title__desk {
  display: none;
}

.plantin__logo {
  display: none;
}

.section__transition {
  grid-row: 4/5;
  grid-column: 1/4;
  background-image: url("../../assets/img/paperbackgroundloweropacity.png");
  background-repeat: repeat;
}


/* ---------- intro section ---------- */


.intro__section {
  background-image: url("../../assets/img/paperbackgroundloweropacity.png");
  background-repeat: repeat;
  display: grid;
  grid-template-rows: 5(1fr);
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  /* width: 100vw; */
  padding-bottom: 2rem;
  padding: 0 2rem;
}



.intro__p1,
.intro__p2,
.intro__p3,
.intro__p4 {
  color: var(--brown);
  font-family: "EB Garamond";
  font-size: 1.2250rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.575rem;
  max-width: 22.3125rem;
  z-index: 3;

}

.intro__p1 {
  margin-top: -10vh;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;

}

.intro__p2 {

  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: center;

}

.intro__p3 {
  grid-column: 1/3;
  grid-row: 4/5;
  justify-self: center;
  margin-top: -10vh;
}

.intro__p4 {
  grid-column: 1/3;
  grid-row: 5/6;
  justify-self: center;
}

.antwerpen__bg {
  grid-column: 1/3;
  grid-row: 2/4;
  justify-self: flex-start;
  background-image: url("../../assets/img/antwerpbg.png");
  z-index: 2;
  height: 16.75rem;
  min-width: 18rem;
  margin-left: -2rem;
}

.year__p,
.intro__p1__desk {
  display: none;
}

.antwerp {
  display: none;
}

/* -------- burger menu --------- */

.nav a:any-link {
  color: var(--refreshing-blue);
  text-decoration: none;
}

.nav {
  grid-row: 1/2;
  grid-column: 2/4;
  max-width: var(--max-page-width);
  display: grid;
  justify-self: flex-end;
  align-self: flex-start;
  margin-top: 4vh;
  padding: 2rem;
  z-index: 3;
  color: var(--refreshing-blue);
}

.nav--fixed {
  position: absolute;
  width: calc(100% - 2rem);
  top: 0;

  background-color: white;
}

.nav__button {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: end;


  border: none;
  margin-right: 3vw;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  appearance: none;
  color: var(--burgundy);

}

.nav__button svg {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  color: var(--burgundy);
}

.nav__list {
  grid-row: 2;
  grid-column: 1 / span 2;
  margin-right: 2rem;
  align-self: center;
}

.nav__item {
  border-top: solid 1px black;
  padding: .7rem 0;

}

.nav__item:last-of-type {
  border-bottom: solid 1px black;
}

.nav__link {
  display: block;
  text-align: center;
  padding: .5em;
}

.nav__link:hover {
  background-color: var(--primary-color);
}



@media only screen and (min-width: 37.5em) {

  .hero__section {
    background-image: url("../../assets/img/paperbackgroundloweropacity.png");
    background-repeat: repeat;
    min-height: 60vh;
    min-width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .plantin__hero {
    display: none;
  }

  .plantin__hero__desk {
    display: block;
    max-width: 70vw;
    grid-row: 1/3;
    grid-column: 1/3;

  }

  .stamp,
  .above__title,
  .heresey,
  .hero__text,
  .section__transition {
    display: none;
  }

  .title__background {
    background-image: url("../../assets/img/paperbackground.jpg");

    padding-left: 1.5rem;
    padding-right: 0.5rem;
    margin-right: -0.5rem;


  }

  .hero__title__desk {

    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: flex-end;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: var(--brown);
    text-align: right;
    font-family: "EB Garamond";
    font-size: 7vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.19744rem;
    text-transform: uppercase;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    margin-right: 2rem;
    margin-top: 1rem;
    z-index: 2;
  }

  .hero__title__desk:before {
    content: "Christophe Plantin";
    font-size: 2.5vw;
    text-decoration: underline;
    color: var(--burgundy);
    margin-bottom: 0.5rem;
  }


  .stamps__desk {
    display: block;
    grid-row: 1/2;


    grid-column: 3/4;
    justify-self: flex-end;
    align-self: center;
    max-width: 30vw;
    margin-right: 4rem;
    margin-top: 2rem;
  }

  .plantin__logo {
    display: block;
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: center;
    margin-top: -10rem;
    margin-right: 4vw;
    justify-self: flex-end;
    min-width: 17vw;
    rotate: 19deg;
    z-index: 1;
  }

  .nav {
    grid-template-columns: min-content auto;
    align-items: center;
    margin-top: -0.5rem;
  }

  .nav__title {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }

  .nav__button {
    display: none;
  }

  .nav__list {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    margin-inline-start: auto;
    color: var(--refreshing-blue);
    font-weight: 700;
  }

  .nav__item,
  .nav__item:last-of-type {
    border: none;
    font-size: 1.155rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }

  .intro__p1,
  .intro__p2,
  .intro__p3,
  .intro__p4 {

    font-size: 1.4250rem;
    line-height: 1.875rem;
    max-width: 30.3125rem;
    z-index: 3;
  }

  .intro__p1 {
    margin-top: 2rem;
  }


}

@media only screen and (min-width: 48em) {
  .hero__title__desk {
    margin-top: 2rem;
  }

  .plantin__logo {
    margin-top: -5rem;
  }

  .nav__item,
  .nav__item:last-of-type {
    font-size: 1.355rem;
  }



  .intro__section {
    grid-column: 2(1fr);
    grid-row: 5(1fr);
    padding: 0 4rem;
  }

  .year__p {
    display: block;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 2rem;
    max-width: 30.3125rem;
    color: var(--inbetween);
    font-family: "EB Garamond";
    font-size: 3.20806rem;
    font-style: italic;
    font-weight: 800;
    line-height: 2.92338rem;

  }

  .intro__p1__desk {
    display: block;
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 1.4250rem;
    line-height: 1.875rem;
    max-width: 42.5rem;

  }

  .intro__p1 {
    display: none;
  }

  .intro__p2 {
    display: none;
  }

  .antwerpen__bg {
    display: none;
  }


  .intro__p3 {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: 0;
    width: 30.5rem;
  }

  .intro__p4 {
    grid-row: 4/5;
    grid-column: 1/2;
    margin-top: 0;
    max-width: 30.5rem;
  }

  .antwerp {
    display: block;
    grid-column: 2/3;
    grid-row: 1/5;
    width: 34.8125rem;
    height: 30.5rem;
    align-self: center;
    margin-left: -14rem;
  }

}

@media only screen and (min-width: 56.25em) {
  .hero__section {

    max-height: 55.5625rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .plantin__hero__desk {
    display: block;
    max-width: 80vw;

    grid-row: 1/3;
    grid-column: 1/3;
  }

  .stamps__desk {

    max-width: 30vw;
    margin-right: 4rem;
    margin-top: 3rem;
  }

  .plantin__logo {
    min-width: 9rem;
    margin-top: 4rem;
  }

  .hero__title__desk {
    margin-top: 7rem;
  }

  .nav__item,
  .nav__item:last-of-type {
    font-size: 1.555rem;
  }

  .nav__link {
    padding-inline: 1.5rem;
  }

}


/* ------- text highlights ---------- */
.burgundy__extrabold {
  font-weight: 700;
  color: var(--burgundy);
}

.burgundy__italic {
  font-style: italic;
  color: var(--burgundy);
  font-weight: 600;
}

.brown__bold {
  font-weight: 600;
  color: var(--brown);
}

.brown__extrabold {
  font-weight: 700;
  color: var(--brown);
}

.bold__italic {
  font-style: italic;
  font-weight: 700;
}

.beige__extrabold {
  color: var(--beige);
  font-weight: 700;
}

.beige__italic {
  color: var(--beige);
  font-style: italic;
  font-weight: 700;
}

.blue__extrabold {
  color: var(--refreshing-blue);
  font-weight: 700;
}

/* -------- inbetween section --------- */


.inbetween__section {
  background-image: url("../../assets/img/paperbackgroundloweropacity.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.inbetween__section__h2,
.intro__h2 {
  display: none;
}

.detective__logo__bg {
  background-image: url("../../assets/img/rivalmark.png");
  width: 13.625rem;
  height: 16.438rem;
  background-repeat: no-repeat;
  align-self: center;
}

.slide__over {
  background-color: var(--inbetween);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -7rem;
  position: relative;


  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rival__mark__slide__over {
  max-width: 13.625rem;

}

.slide__over__p {
  color: var(--broken-white, #F9F6F1);
  font-family: "EB Garamond";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  justify-self: center;
  max-width: 22rem;
  height: 4.125rem;
  align-self: center;
  line-height: 100%;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 37.5em) {

  .slide__over__p {
    min-width: 27rem;
    line-height: 120%;
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 1.325rem;
  }

}

/* ------ accusation section ------ */



.accusation__section {
  background-color: var(--broken-white);
  background-repeat: repeat;
  padding-top: 2rem;
  /* display: grid;
  grid-template-rows: 4(1fr);
  grid-template-columns: 1fr 1fr ; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: stretch;
}

.accusation__h2 {
  color: var(--burgundy, #572D2D);
  font-weight: 800;
  font-size: 1.875rem;
  font-style: italic;
  grid-column: 1/3;
  grid-row: 1/2;

  margin-right: 5rem;
  align-self: center;
  justify-self: center;
}

.accusation__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.accusation__subtitle {
  color: var(--brownish, #CBAC8D);

  font-size: 1.125rem;
  margin-left: 5rem;
  font-weight: 800;

  text-transform: lowercase;

  align-self: center;
  justify-self: center;
}

.family__of__love__heart {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: flex-end;
}

.family__of__love__detail {

  width: 40vh;
  height: 20vh;
  align-self: center;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;

}

.accusation__p {
  align-self: center;
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  max-width: 21.8125rem;
  line-height: 130%;
  margin: 2rem 0;
}



.plantin__case {
  grid-column: 1/3;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  background-color: var(--refreshing-blue);
  background-image: url(../../assets/img/plantin__case__bg.png);
  background-position: right;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  align-items: center;
  padding: 1rem 0;
}

.plantin__case__h3 {
  color: var(--beige, #ECDDCA);
  font-family: "EB Garamond";
  font-size: 1.25rem;
  font-weight: 800;
  margin-right: 6.7rem;
}

.plantin__case__p {
  color: var(--broken-white, #F9F6F1);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 20rem;

}


.fol__heart,
.fol__text {
  display: none;
}


@media only screen and (min-width: 37.5em) {


  .accusation__h2 {
    font-size: 2.3rem;
    max-width: 27rem;
    line-height: 130%;

  }

  .accusation__subtitle {
    font-size: 2rem;
    margin-left: 7rem;
  }

  .accusation__p {
    max-width: 31.3125rem;
    font-size: 1.3rem;
  }



  .plantin__case__h3 {
    font-size: 1.4rem;
    margin-right: 12rem;
  }



  .plantin__case__p {
    max-width: 27.3125rem;
    font-size: 1.3rem;
  }

  .family__of__love__heart {
    width: 15rem;

  }

  .family__of__love__detail {
    height: 15rem;
    margin-right: -7rem;
    margin-bottom: 1rem;
  }



}

@media only screen and (min-width: 48em) {

  .accusation__section {
    display: grid;
    grid-template-rows: 3(1fr);
    grid-template-columns: 2(1fr);
    gap: 2rem;
    background-image: url("../../assets/img/bg__detail.png");
    background-repeat: no-repeat;
    background-size: 36.94081rem;
    background-position: 35rem -14rem;
  }

  .family__of__love__heart,
  .family__of__love__detail {
    display: none;
  }

  .fol__heart {
    display: block;
    width: 26.0455rem;
    height: 35.18081rem;
    transform: rotate(-14.156deg);
    margin-left: -10rem;
    margin-top: 5rem;
    grid-row: 1/4;
    grid-column: 1/2;

  }


  .fol__text {
    display: block;
    width: 37.99175rem;
    height: 40.26281rem;
    grid-row: 1/4;
    grid-column: 1/2;
    margin-left: -15rem;
    margin-top: 3rem;

  }

  .accusation__h2 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 3.98038rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    text-align: right;
    width: 22.3125rem;
    justify-self: center;
    margin-bottom: 4rem;
    margin-left: -4rem;

  }

  .accusation__subtitle {
    color: var(--brownish);
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 0;
    justify-self: flex-start;
    align-self: flex-start;
    padding: 0;
    margin-top: -2rem;

  }

  .accusation__p {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: flex-start;
    align-self: flex-start;
    font-size: 1.2125rem;
    margin-right: 2rem;
    width: 21.5rem;
    font-weight: 500;
    line-height: 1.375rem;
    margin-top: -6rem;
  }


  .plantin__case {
    grid-row: 3/4;
    padding: 0.5rem 5rem 0.5rem 0.5rem;
    grid-column: 2/3;
    align-self: flex-end;
    width: 21.5rem;
  }


  .plantin__case__h3 {
    align-self: stretch;
    font-size: 1.2625rem;
    width: 21.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 2rem;
  }

  .plantin__case__p {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    align-self: flex-start;
    padding-left: 2rem;
  }

}


@media only screen and (min-width: 56.25em) {



  .accusation__section {

    background-position: 75vw -14rem;
  }

  .fol__heart {
    width: 30.40625rem;
    height: 34.5625rem;
    margin-left: -30vw;
  }

}

/* ------- evidence section ------- */

.evidence__section {
  background-color: var(--broken-white);
  background-repeat: repeat;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}



.anonymous__interaction__section {
  background: url("../../assets/img/woodbackgroundsmall.jpg");
  background-repeat: repeat;
  padding-top: 2rem;
  margin-top: -2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */

}

.anonymous__more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4(1fr);
  grid-column: 1/3;
  grid-row: 2/3;
  gap: 1rem;
  padding: 2rem 0;
  background-image: url("../../assets/img/woodbackgroundsmallbrown.jpg");
  /* display: none; */
}

.anonymous__numbering {
  grid-column: 1/2;
  grid-row: 1/2;
  color: var(--brownish);
  margin-top: -3rem;
  font-size: 10.89481rem;
  font-weight: 600;
}


.anonymous__h2 {
  grid-row: 1/2;
  grid-column: 1/3;
  color: var(--burgundy, #572D2D);
  font-family: "EB Garamond";
  font-size: 1.5rem;
  justify-self: center;
  font-weight: 700;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }


  50% {
    transform: rotate(-23deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake2 {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.phone__shaker {
  margin-top: 7rem;
  position: absolute;
  margin-left: 2rem;
  z-index: 2;
  animation: shake 4s infinite;
  transition: opacity 0.5s ease;
  justify-self: center;
}

.tablet__shaker {
  display: none;
}


.anonymous__instructions__desk {
  display: none;
}

.shake__button {
  color: var(--broken-white);
  text-align: center;
  font-family: "EB Garamond";
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 0.1875rem;
  border: 1px solid var(--brown, #302B2B);
  background: var(--brown, #302B2B);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  grid-row: 2/3;
  grid-column: 1/3;
}

@media only screen and (max-width: 26.438em) {
  .heresey {
    font-size: 4.3rem;
  }

  .phone__shaker {
    margin-left: 0;
    max-width: 19rem;
    margin-left: 2rem;
  }
}

.book__section {
  grid-row: 1/2;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-items: center;
  max-height: 70vh;
  margin: 3rem 0;
}

.normal__book__1,
.normal__book__2,
.normal__book__3,
.normal__book__4,
.normal__book__5,
.normal__book__6,
.normal__book__7,
.mysterious__book {
  grid-row: 1/3;
  grid-column: 1/3;
  justify-self: center;
}

.normal__book__1 {
  transform: rotate(-31.475deg);
  margin-right: 5rem;
  margin-top: -3rem;
}

.normal__book__2 {
  transform: rotate(-5.148deg);
  margin-top: -3rem;
}

.normal__book__3 {
  transform: rotate(18.332deg);
  margin-right: -8rem;
  margin-top: -2rem;
}

.mysterious__book {
  width: 9.75rem;
  height: 12.9375rem;
  transform: rotate(6.701deg);

}

.normal__book__4 {
  transform: rotate(-42.359deg);
  margin-right: 13rem;
  margin-top: 2rem;
}

.normal__book__5 {
  transform: rotate(28.183deg);
  margin-right: -13rem;
  margin-top: 3rem;
}

.normal__book__6 {
  transform: rotate(-29.318deg);
  margin-top: 4rem;
  margin-right: 4rem;
}

.normal__book__7 {
  transform: rotate(35.162deg);
  margin-left: 3rem;
  margin-top: 5rem;
}


.anonymous__book {
  width: 7.5625rem;
  height: 9.8125rem;
  justify-self: center;
  align-self: center;
}

.anonymous__more__h3 {
  color: var(--broken-white);
  font-size: 1.3125rem;
  font-weight: 800;
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  max-width: 40vw;

}

.anonymous__more__subtitle {
  color: var(--broken-white);

  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 160%;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  margin-top: 5rem;

}

.anonymous__more__p1,
.anonymous__more__p2,
.anonymous__more__p3 {
  color: var(--broken-white);
  font-size: 1.2250rem;
  font-weight: 500;
  line-height: 155%;
  align-self: center;
  justify-self: center;
  max-width: 24.8125rem;
  margin: 0 2rem;
}

.anonymous__more__p1 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.anonymous__more__p2 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.anonymous__more__p3 {
  grid-column: 1/3;
  grid-row: 4/5;
}



@media only screen and (min-width: 37.5em) {

  .anonymous__interaction__section {

    padding-top: 4rem;
  }

  .anonymous__h2 {
    font-size: 2.2rem;
  }

  .anonymous__numbering {
    margin-left: 3rem;
  }

  .anonymous__more {

    padding: 4rem 0;
  }

  .anonymous__more__p1,
  .anonymous__more__p2,
  .anonymous__more__p3 {
    max-width: 31.3125rem;
    font-size: 1.3rem;
    line-height: 140%;
  }

  .anonymous__more__subtitle,
  .anonymous__more__h3 {
    justify-self: flex-start;
    max-width: 15rem;

  }

  .tablet__shaker {
    display: block;
    position: absolute;
    z-index: 2;
    width: 34rem;
    margin-top: 10rem;
    justify-self: center;
    animation: shake2 ease-in-out 1.5s infinite;
  }

  .phone__shaker {
    display: none;
  }


}

.anonymous__book {
  width: 9.5625rem;
  height: 13.0625rem;
  justify-self: flex-end;
  margin-right: 2rem;
}






@media only screen and (min-width: 48em) {

  .phone__shaker {
    display: none;
  }

  .tablet__shaker {
    display: none;
  }

  .shake__button {
    display: none;
  }

  .book__section {

    padding: 2rem 2rem;
    min-height: 70vh;
    min-width: 30rem;
    margin-right: -8rem;
  }

  .normal__book__1,
  .normal__book__2,
  .normal__book__3,
  .normal__book__4,
  .normal__book__5,
  .normal__book__6,
  .normal__book__7,
  .mysterious__book {
    grid-column: 2/3;
    width: 12.1575rem;
    height: 15.73863rem;

  }

  /* .normal__book__1,
.normal__book__2,
.normal__book__3,
.normal__book__4,
.normal__book__5,
.normal__book__6,
.normal__book__7{
  display: none;
} */



  .anonymous__more {
    background-image: none;
    grid-row: 1/3;
    grid-column: 1/2;

  }

  .anonymous__more__h3 {
    grid-column: 1/3;
    justify-self: center;
    color: var(--burgundy);
    font-size: 1.5625rem;
    font-weight: 800;
    line-height: 134%;
    margin-top: 13rem;
  }

  .anonymous__more__subtitle {
    grid-column: 1/3;
    justify-self: center;
    align-self: flex-end;
    color: var(--burgundy);
    font-family: "EB Garamond";
    font-size: 1.425rem;
    font-style: italic;
    font-weight: 400;
    line-height: 160%;
    margin-right: 6rem;
  }

  .anonymous__more__p1,
  .anonymous__more__p2,
  .anonymous__more__p3 {
    color: var(--brown);
    margin-left: 4rem;
    font-size: 1.3225rem;
    min-width: 22.5rem;
    font-weight: 500;
    line-height: 130%;
  }

  .anonymous__more__p2 {
    margin-top: -9rem;
  }

  .anonymous__more__p3 {

    margin-top: -10rem;
  }

  .mysterious__book {
    min-width: 14rem;
    height: 15rem;
  }

  .anonymous__book {
    display: none;
  }


  .anonymous__numbering {
    margin-left: 6rem;
  }


  .anonymous__instructions__desk {
    display: block;
    grid-row: 1/3;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    width: 20.9375rem;
    color: var(--brown);
    text-align: flex-start;
    font-size: 1.5125rem;
    font-weight: 500;
    line-height: 160%;
  }


}


@media only screen and (min-width: 56.25em) {



  .anonymous__more__p1,
  .anonymous__more__p2,
  .anonymous__more__p3 {


    font-size: 1.6125rem;
    min-width: 27.5rem;

  }




  .anonymous__more__h3 {
    font-size: 2rem;
    min-width: 25.5rem;
    margin-left: 3rem;
  }


  .anonymous__more__p2 {
    margin-top: -4rem;
  }

  .anonymous__more__p3 {

    margin-top: -2rem;
  }

  .normal__book__1,
  .normal__book__2,
  .normal__book__3,
  .normal__book__4,
  .normal__book__5,
  .normal__book__6,
  .normal__book__7 {

    width: 18.1575rem;
    height: 19.73863rem;

  }

  .mysterious__book {
    min-width: 14rem;
    height: 15rem;
  }


}

/* ----------- known members section ------------ */

.known__members {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
  align-items: center;
}

.known__members__title {
  display: flex;
}

.known__members__numbering {

  color: var(--refreshing-blue);
  font-size: 10.89481rem;
  font-weight: 600;
  margin-left: -3rem;
}

.known__members__h2 {
  grid-row: 1/2;
  grid-column: 1/3;
  color: var(--burgundy, #572D2D);
  font-family: "EB Garamond";
  font-size: 1.5rem;
  justify-self: center;
  align-self: flex-end;
  font-weight: 700;
  max-width: 50vw;

}

.the__coin canvas {
  grid-column: 1/3;
  max-width: 24rem;
  justify-self: center;
  cursor: pointer;

}



.known__members__p1 {
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  grid-row: 3/4;
  grid-column: 1/3;
  line-height: 120%;
  max-width: 20.8125rem
}

.known__members__p2 {
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  grid-row: 4/5;
  grid-column: 1/3;
  line-height: 120%;
  max-width: 20.8125rem
}


@media only screen and (min-width: 37.5em) {


  .known__members__h2 {
    font-size: 2.1rem;
    margin-bottom: 3rem;
  }

  .known__members__p1,
  .known__members__p2 {
    max-width: 30.3125rem;
    font-size: 1.3rem;

  }

  .the__coin canvas {

    max-width: 32rem;

  }

}

@media only screen and (min-width: 48em) {


  .the__coin {
    margin-left: 13rem;
  }


  .known__members__p1,
  .known__members__p2 {
    margin-right: 6rem;
    width: 30.5rem;
    font-size: 1.45rem;

  }

  .known__members__p2 {
    margin-bottom: 2rem;
  }

}


/* ----------- robbery section ------------ */


.robbery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3(1fr);
  padding: 0 2rem;
  gap: 1rem;
}

.robbery__numbering {
  grid-column: 1/2;
  grid-row: 1/2;
  color: var(--beige);
  font-size: 10.89481rem;
  font-weight: 600;
  margin-left: -4rem;
}

.robbery__h2 {
  grid-row: 1/2;
  grid-column: 1/3;
  color: var(--burgundy, #572D2D);
  font-family: "EB Garamond";
  font-size: 1.5rem;
  justify-self: center;
  align-self: flex-end;
  font-weight: 700;
  max-width: 60vw;
  margin-bottom: 2rem;
}

.robbery__images {
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 2(1fr);
  grid-template-columns: 2(1fr);
}


.robbery__text,
.robbery__vase,
.robbery__harp,
.robbery__violin,
.robbery__goblet {
  grid-row: 1/3;
  grid-column: 1/3;
  justify-self: center;
}

.robbery__text {
  margin-top: 5rem;
  margin-left: 1rem;
  transition: transform 0.5s ease-in-out;


}



.robbery__vase {
  margin-top: 2rem;
  margin-right: 11rem;
}

.robbery__goblet {
  margin-left: 7rem;
}

.robbery__violin {
  margin-top: 6rem;
  margin-left: 6rem;
}

.robbery__harp {
  margin-right: 4rem;
  margin-top: 1rem;
}

.robbery__arrow {
  grid-column: 1/3;
  grid-row: 3/4;
  justify-self: center;
  transition: opacity 0.3s ease-in-out;
}

.robbery__arrow.hide {
  opacity: 0;

}

.robbery__text.grow {

  transform: scale(1.4);
  margin-bottom: 3rem;
}



.robbery__p {
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  line-height: 130%;
  max-width: 20.8125rem;
  grid-column: 1/3;
  padding: 0 2rem;
  justify-self: center;
  margin-bottom: 2rem;
}

.robbery__box {
  grid-column: 1/3;
  grid-row: 4/5;
  justify-self: center;
  margin-bottom: 2rem;
  transition: opacity 0.3s ease-in-out;
}


.robbery__box.hide {
  opacity: 0;
}

.robbery__box.hidden {
  display: none;
}

.robbery__images img {
  cursor: grab;
}

#drop-box {
  border: 2px var(--brownish) dashed;
  padding: 10px;
  position: relative;
}

#drop-box.drag-over {
  border-color: var(--brown);
}


@media only screen and (min-width: 37.5em) {

  .robbery__h2 {
    font-size: 2.1rem;
    margin-bottom: 3rem;
  }

  .robbery__numbering {
    margin-left: 0;
  }


  .robbery__goblet,
  .robbery__vase,
  .robbery__text {
    min-width: 12rem;

  }

  .robbery__goblet {
    margin-left: 18rem;
  }

  .robbery__vase {
    margin-top: 7rem;
    margin-right: 16rem;
  }

  .robbery__violin {
    min-width: 18rem;
    margin-top: 8rem;
    margin-left: 12rem;
  }


  .robbery__harp {
    min-width: 16rem;
    margin-right: 6rem;
    margin-top: 0rem;
  }

  .robbery__arrow {
    min-width: 1.4rem;
    animation: float 1.2s infinite;
    margin-bottom: 2rem;

  }

  .robbery__box {
    min-width: 16rem;
  }

  .robbery__p {
    max-width: 30.3125rem;
    font-size: 1.3rem;
    padding-bottom: 3rem;
  }

  .robbery__text.grow {
    transform: scale(1.4);

  }

}



@media only screen and (min-width: 48em) {

  .robbery__images {
    grid-column: 2/3;
    margin-right: 2rem;
  }


  .robbery__box {
    grid-column: 1/2;
  }

  .robbery__arrow {
    rotate: 40deg;
    align-self: center;

    margin-right: 2rem;

  }

  .robbery__p {
    background-image: url("../../assets/img/lowopacitybox.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 6rem;
    width: 30.5rem;
    font-size: 1.45rem;
    padding-bottom: 4rem;
    grid-row: 3/5;

  }

  .robbery__text.grow {
    transform: translateX(-26vw);

  }

}

/* --------- motive section  --------- */

.motive__section {
  background: url("../../assets/img/woodbackgroundsmall.jpg");
  background-repeat: repeat;
  padding: 2rem 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motive__h2 {
  color: var(--inbetween);
  font-size: 1.525rem;
  font-weight: 800;
  align-self: center;
}

.motive__p1,
.motive__p2 {
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  line-height: 1.575rem;
  max-width: 22.3125rem;
}

@media only screen and (min-width: 37.5em) {

  .motive__h2 {
    font-size: 2.1rem;
    margin-bottom: 3rem;
  }

  .balance canvas {
    min-width: 40rem;
  }


  .motive__p1,
  .motive__p2 {
    max-width: 30.3125rem;
    font-size: 1.3rem;
    line-height: 130%;
  }



}


@media only screen and (min-width: 48em) {

  .motive__p1,
  .motive__p2 {

    width: 30.5rem;
    font-size: 1.45rem;
  }


}

/* ----------- alibi section ------------ */

.alibi__section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
}

.alibi__h2 {
  color: var(--burgundy);
  font-size: 1.525rem;
  font-weight: 800;
  align-self: center;
}

.alibi__p1,
.alibi__p2,
.alibi__p3 {
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  line-height: 130%;
  max-width: 24.8125rem
}

.alibi__latin {
  color: var(--inbetween);
  font-size: 4.08569rem;
  font-weight: 500;
  align-self: center;
  margin-left: 12rem;
}

.alibi__hebrew {
  color: var(--brown);
  font-size: 2.52319rem;
  font-weight: 500;
  align-self: center;
  margin-right: 14rem;
}

.alibi__greek {
  color: var(--burgundy);
  font-size: 3.61906rem;
  font-weight: 500;
  align-self: center;
  margin-left: 14rem;
}

.alibi__aramaic {
  color: var(--brownish);
  font-size: 3.70944rem;
  font-weight: 500;
  align-self: center;
  margin-right: 11rem;
  margin-top: -2rem;
}


.biblia__sacria {
  position: absolute;
  width: 7.87819rem;
  height: 12.125rem;
  margin-top: 12rem;
  align-self: center;
}

.alibi__p2 {
  padding: 1rem 0;
}

.alibi__link {
  color: var(--burgundy);
  font-size: 1.2250rem;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.alibi__english {
  display: none;
}


@media only screen and (min-width: 37.5em) {

  .alibi__h2 {
    font-size: 2.1rem;
    margin-bottom: 3rem;
  }

  .alibi__p1,
  .alibi__p2,
  .alibi__p3 {
    max-width: 30.3125rem;
    font-size: 1.3rem;
    line-height: 130%;
  }


  .alibi__latin {
    font-size: 6.08569rem;
    margin-left: 21rem;
  }

  .alibi__greek {
    font-size: 5.61906rem;
    margin-left: 22rem;
    margin-top: -2rem;
  }

  .alibi__hebrew {
    font-size: 4.2rem;
    margin-right: 23rem;
  }

  .alibi__aramaic {
    font-size: 5.70944rem;
  }

  .biblia__sacria {
    width: 13rem;
    height: 18rem;
  }

  .alibi__link {
    font-size: 1.5rem;
    padding: 2rem;
  }
}


@media only screen and (min-width: 48em) {


  .alibi__section {
    display: grid;
    gap: 1rem;
    grid-template-rows: 5(1fr);
    grid-template-columns: 3(1fr);
    background-image: url("../../assets/img/bg__detail.png");
    background-repeat: no-repeat;
    background-size: 36.94081rem;
    background-position: 35rem -14rem;
  }

  .alibi__languages {
    grid-column: 1/2;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: -3.5rem;
  }

  .alibi__h2 {
    grid-row: 1/2;
    grid-column: 1/3;
    width: 31.3125rem;
    font-size: 3.6375rem;
    padding: 2rem 2rem;
  }

  .biblia__sacria {
    grid-row: 1/6;
    grid-column: 3/4;
    position: relative;
    width: 29.25rem;
    height: 45rem;
    margin-top: 0rem;
    margin-right: -30vh;

  }

  .alibi__p1 {

    width: 22.9375rem;

    grid-row: 2/3;
    grid-column: 2/3;
    margin-left: 2rem;
  }

  .alibi__p2 {
    grid-row: 3/4;
    grid-column: 2/3;
    margin-left: 2rem;
  }

  .alibi__p3 {
    grid-row: 4/5;
    grid-column: 2/3;
    margin-left: 2rem;
  }


  .alibi__link {
    grid-row: 5/6;
    grid-column: 1/3;
    padding: 0rem;
    margin-top: 2rem;

    justify-self: center;
  }



  .alibi__aramaic,
  .alibi__greek,
  .alibi__hebrew,
  .alibi__latin,
  .alibi__english {
    font-size: 4.20131rem;
    font-weight: 500;
    line-height: normal;
    align-self: flex-start;
    max-width: 10rem;
    margin: 0rem;
    opacity: 0.4;
    display: block;
    justify-self: center;

  }

  .alibi__english {
    color: var(--refreshing-blue);
    display: block;
  }



}



/* --------- verdict section --------- */



.verdict__section {
  background-image: url("../../assets/img/paperbackgroundloweropacity.png");
  background-blend-mode: multiply;
}

.verdict__section,
.verdict__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;

}

.verdict__h2 {
  color: var(--brown);
  font-size: 1.525rem;
  font-weight: 800;

}

.verdict__p1,
.verdict__p2,
.verdict__p3 {
  color: var(--brown);
  font-size: 1.2250rem;
  font-weight: 500;
  line-height: 130%;
  max-width: 24.8125rem
}

.verdict__p3 {
  padding-top: 1rem;
  font-weight: 600;
}

.innocent__btn {
  font-family: "EB Garamond";
  display: flex;
  width: 6.5625rem;
  padding: 0.125rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.1875rem;
  border: 1px solid var(--brown);
  background: rgba(93, 135, 176, 0.50);
  color: var(--broken-white);
  font-size: 1.125rem;
  font-weight: 800;
}

.guilty__btn {
  font-family: "EB Garamond";
  display: flex;
  width: 6.5625rem;
  padding: 0.125rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.1875rem;
  border: 1px solid var(--brown);
  background: rgba(87, 45, 45, 0.50);
  color: var(--broken-white);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 800;
}

.buttons {
  justify-content: space-between;
  display: flex;
  gap: 2rem;
}

.verdict__link {
  color: var(--burgundy);
  font-size: 1.2250rem;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  max-width: 24.8125rem;
  line-height: 130%;
}

.verdict__section.guilty {
  background-color: var(--burgundy);
  position: relative;
}

.verdict__section.innocent {
  background-color: var(--refreshing-blue);
  position: relative;
}

.verdict__section.guilty .devil__bg,
.verdict__section.innocent .angel__bg {
  display: none;
}

.verdict__section.guilty .devil__image,
.verdict__section.innocent .angel__image {
  display: none;
}

.verdict__section.guilty .verdict__content h2,
.verdict__section.guilty .verdict__content p,
.verdict__section.innocent .verdict__content h2,
.verdict__section.innocent .verdict__content p {
  display: none;
}

.verdict__section.guilty .verdict__content a,
.verdict__section.innocent .verdict__content a {
  color: var(--broken-white);
}

@media only screen and (max-width: 37.5rem) {


  .verdict__section.guilty .devil__image,
  .verdict__section.innocent .angel__image {
    display: block;
    position: relative;

    height: 10rem;
    height: 13rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .verdict__section.guilty .devil__image {
    background-image: url('../../assets/img/devilwhite.png');
  }

  .verdict__section.innocent .angel__image {
    background-image: url('../../assets/img/angelwhite.png');
  }

}


@media only screen and (min-width: 37.5em) {









  .verdict__h2 {
    font-size: 2.1rem;
    margin-bottom: 3rem;
    margin-right: 5rem;
  }

  .verdict__p1,
  .verdict__p2 {
    max-width: 30.3125rem;
    font-size: 1.3rem;
    line-height: 130%;
  }


  .verdict__p3 {

    max-width: 31.3125rem;
  }

  .innocent__btn,
  .guilty__btn {
    font-size: 2rem;

    padding: 0 5rem;

  }


  .verdict__link {
    font-size: 1.5rem;
    padding: 2rem;
  }

}


@media only screen and (min-width: 56.25em) {

  .verdict__section {
    min-height: 100vh;
  }

  .verdict__all {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    flex-wrap: nowrap;
    justify-items: center;
  }


  .devil__bg {
    width: 31.62694rem;
    height: 35.6885rem;
    background-image: url("../../assets/img/devil.png");
    background-repeat: no-repeat;

  }
  .angel__bg {
    background-image: url("../../assets/img/devil.png");
    width: 31.62694rem;
    height: 35.6885rem;
    background-image: url("../../assets/img/angel.png");
    background-repeat: no-repeat;
  }

}